/docs
/Raw Data
/config/tags.json
/__pycache__
/tests/__pycache__
/tests/_tmp
/uploads
/.docker-test
tests
app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/config.cpython-312.pyc
app/__pycache__/database.cpython-312.pyc
app/__pycache__/models.cpython-312.pyc
app/__pycache__/utils.cpython-312.pyc
app/routes/__pycache__/__init__.cpython-312.pyc
app/routes/__pycache__/charts.cpython-312.pyc
app/routes/__pycache__/files.cpython-312.pyc
app/routes/__pycache__/tags.cpython-312.pyc
app/services/__pycache__/__init__.cpython-312.pyc
app/services/__pycache__/data_service.cpython-312.pyc
app/services/__pycache__/file_service.cpython-312.pyc
app/services/__pycache__/tag_service.cpython-312.pyc
config/ota.db-shm
config/ota.db-wal
